player-connection-mode=Listen
player-connection-guid=200302218
player-connection-debug=0
player-connection-project-name=AIEUnityExcercise
player-connection-wait-timeout=-1
player-connection-ip=10.19.32.3
player-connection-ip=192.168.56.1
profiler-enable=1
gfx-enable-gfx-jobs=
gfx-enable-native-gfx-jobs=
wait-for-native-debugger=0
vr-enabled=0
hdr-display-enabled=0
